extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Atomic Habits
      span.badge.pull-right.badge-default Personal Development
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          .panel.panel-primary
            .panel-heading
              h2.panel-title Author
            .panel-body
              h3 James Clear
              p  An advocate for incremental change, illuminating the path to mastery through the power of habits
          .panel.panel-primary
            .panel-heading
              h2.panel-title Literary Elements
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Self-Help
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp;Behaviour
              | &nbsp;
        .col-xs-12.col-sm-6.book-preview
          h1
          </br>
          .panel.panel-primary
            .panel-heading
              h2.panel-title Book Preview
            .panel-body
              .img 
                img(src='/images/atomic habits.jpg', alt='Normal People')
      .row
        .col-xs-12
          .panel.panel-primary.overview-panel
            .panel-heading
              h2.panel-title Overview
            .panel-body.overview-container
              .row
                .review
                  .col-xs-12
                    h3 A Game-Changer for Habit Formation
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              h2.panel-title Review
            .panel-body.review-container
              .row
                .review
                  .col-xs-12
                    p 
                    p In the realm of personal development literature, James Clear's "Atomic Habits" emerges as a refreshing, actionable guide to reshaping one's life one habit at a time. Clear doesn't merely scratch the surface; he delves deep into the mechanics of habit formation, offering readers both an understanding of why certain behaviors stick and a toolkit to mold those behaviors.
                    p What sets "Atomic Habits" apart is its practicality. Clear's writing is lucid and his strategies are laid out in an accessible manner. The book is replete with actionable insights, making the journey of personal change feel attainable and logical.
                    p Perhaps one of the most resonating ideas presented is the notion of 'identity-based habits.' Clear posits that real change doesn't stem from what we do but from who we believe we are. This shift in perspective – from outcome-based to identity-based – is profound, urging readers to rethink their approach to personal growth.
                    p "Atomic Habits" isn't just a book; it's a call to action. For anyone feeling stuck in a loop of negative patterns or simply seeking to enhance their daily routines, this book is a beacon, illuminating a clear path forward. Dive in and discover the transformative power of small, consistent actions.
    .col-xs-12.col-md-3