extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Discover Time in its Finest Form
        | <br />
        | At Agenta, we believe that a watch is not just an instrument for keeping time, but a testament to craftsmanship, design, and personal style. From the sweep of a second hand to the elegance of a leather strap, every watch tells a story – and here, we aim to share those stories with you.
        | <br /> <br />
        | Our Journey
        | <br />
        | Established in 2010, Agenta was born out of a passion for horology and a desire to bring together watch enthusiasts from around the globe. Our founder, [Your Name or Founder's Name], recognized the need for a platform where watch lovers could not only discover the finest timepieces but also learn from genuine user reviews.