extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Agenta
          small &nbsp;Timeless Beauty, Unveiled.
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/watch') Rolex
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default $250
          p.author Hans Wilsdorf
        .col-xs-12.list-group-item
          h4
            a(href='/watch/2') Fossil
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
            span.badge.pull-right.badge-default $180
          p.author Tom Kartsotis
      p.lead
        | In a world awash with timepieces, Agenta stands as your compass. Navigate our curated collection of watches, where elegance intersects with timeless design. But we don't stop at presenting just the watch; delve deeper and discover authentic reviews from enthusiasts and aficionados alike. Whether you're seeking a statement piece or a classic treasure, let Agenta guide your wrist to its next journey. Dive into an experience where every tick, every detail, is uncovered.